@page
@using System.Linq
@using Microsoft.EntityFrameworkCore
@using OpenDataShare

@model LEPS.Pages.Players.Edit
@inject ApplicationDbContext ApplicationDbContext

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
   
    var eventSelects = new[] {new SelectListItem
    {
        Text = "Select an event"
    }}.Concat(ApplicationDbContext.Event.Where(e => e.DateTime > DateTime.UtcNow).Select(e => new SelectListItem
    {
        Value = e.Id.ToString(),
        Text = e.Name ?? "No Name"
    }));

    var enrollments = ApplicationDbContext.EventEnrollments
        .Where(ee => ee.PlayerId == Model.Player.Id)
        .ToArray();

    var payments = ApplicationDbContext.InboundTransactions
        .Where(it => it.PlayerId == Model.Player.Id);
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Player</title>
</head>
<body>
<div>
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-2">
                    <div class="card-header">
                        Basic Info
                        <input type="submit" value="Save" class="btn btn-primary float-right" />
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Player.Id" />
                        <div class="form-row">
                            <div class="form-group col-sm">
                                <label asp-for="Player.FirstName" class="control-label">First Name</label>
                                <input asp-for="Player.FirstName" class="form-control" />
                                <span asp-validation-for="Player.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm">
                                <label asp-for="Player.LastName" class="control-label">Last Name</label>
                                <input asp-for="Player.LastName" class="form-control" />
                                <span asp-validation-for="Player.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-3">
                                <label asp-for="Player.Email" class="control-label">Email</label>
                                <input asp-for="Player.Email" class="form-control" />
                                <span asp-validation-for="Player.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-3">
                                <label asp-for="Player.BankRoll" class="control-label">BankRoll</label>
                                <input asp-for="Player.BankRoll" class="form-control" />
                                <span asp-validation-for="Player.BankRoll" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-2">
                <div class="card-header">
                    Player's Enrollments
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date Enrolled</th>
                            <th>Event</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var enrollment in enrollments)
                        {
                            <tr>
                                <td>@enrollment.EnrollDate</td>
                                <td>@ApplicationDbContext.Event.SingleAsync(e => e.Id == enrollment.EventId).Result.Name</td>
                                <td>@enrollment.Status</td>
                                <td>
                                    
                                    
                                    <button class="btn btn-outline-dark btn-sm"
                                            data-enrollmentid="@enrollment.Id"
                                            data-toggle="modal"
                                            data-target="#payEnrollmentModal">Pay</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-header">
                            Player's Payments
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Payment Date</th>
                                    <th>Product</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var payment in payments)
                                    {
                                        <tr>
                                            <td>@payment.DateTime</td>
                                            <td>@payment.Product</td>
                                            <td>@payment.Amount</td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    
    
    
    
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-2">
                <div class="card-header">
                    Event Enrollment
                    <input id="enroll-player" type="button" value="Enroll" class="btn btn-primary float-right" />
                </div>
                <div class="card-body">
                    <form id="enroll-form">
                        <div class="form-row">
                            <label>Choose an Event to enroll</label>
                            <select id="select-onboarding-event" class="form-control mb-3" asp-items="eventSelects" name="eventId"></select>
                        </div>
                        <div class="form-row">
                            <input type="hidden" name="playerId" value='@Request.Query["id"]'/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Pay Enrollment Modal -->
    <form id="pay-form" method="post">
        <div class="modal fade" id="payEnrollmentModal" tabindex="-1" role="dialog" aria-labelledby="payEnrollmentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="payEnrollmentModalLabel">Pay Enrollment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-sm">
                            <label for="paymentAmountSeries" class="control-label">Series Amount</label>
                            <input id="paymentAmountSeries" name="paymentAmountSeries" type="number" class="form-control" />
                        </div>
                        <div class="form-group col-sm">
                            <label for="paymentAmountEvent" class="control-label">Event Amount</label>
                            <input id="paymentAmountEvent" name="paymentAmountEvent" type="number" class="form-control" />
                        </div>
                        <div style="display:none;" class="form-group col-sm">
                            <label for="enrollmentId" class="control-label">Enrollment Id</label>
                            <input id="enrollmentId" name="enrollmentId" type="number" class="form-control" />
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="pay-enrollment" type="button" class="btn btn-primary">Submit Payment</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @section Scripts {
        <script>
            $("#payEnrollmentModal").on("show.bs.modal", e => {
                //console.log($(e.relatedTarget).data('enrollmentid'));
                $("#enrollmentId").val($(e.relatedTarget).data('enrollmentid'));
            })
            
            
            $("#pay-enrollment").click(function (){
                $("#errors").html('');
                $.ajax({
                    url: "/api/event/payenrollment",
                    success: (d) => {
                        console.log(d);
                         $("#payEnrollmentModal").modal('hide');
                    },
                    data: JSON.stringify(Object.fromEntries(new FormData(document.getElementById("pay-form")))),
                    method: "POST",
                    contentType: "application/json"
                })
                
                return false;
            })
        
        
            $("#enroll-player").click(function (){
                $("#errors").html('');
                $.ajax({
                    url: "/api/event/enrollplayer",
                    data: JSON.stringify(Object.fromEntries(new FormData(document.getElementById("enroll-form")))),
                    method: "POST",
                    contentType: "application/json"
                })

                return false;
            })
        </script>
    }
</div>
</body>
</html>