@page
@using OpenDataShare
@using Microsoft.EntityFrameworkCore
@model LEPS.Pages.Series.EditModel
@inject ApplicationDbContext ApplicationDbContext

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var events = ApplicationDbContext.Event.Where(e => e.SeriesId.ToString() == HttpContext.Request.Query["Id"].ToString()).ToList();
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Series</title>
    
</head>
<body>
<div>
    <h2>Events</h2>
    @foreach (var eventt in events)
    {
        var enrollments = ApplicationDbContext.EventEnrollments.Include(ee => ee.Player).Where(ee => ee.EventId == eventt.Id);
        var enrollmentCount = enrollments.Count();
        
        <div class="card event-card" style="width: 18rem;">
            <form>
                <div class="card-body">
                    <h5 class="card-title">@eventt.Name</h5>
                    <div>
                        <div>
                            <label for="event-name">Event Name</label>
                            <input asp-for="Eventt.Name" value="@eventt.Name"/>
                        </div>
                        <div>
                            <label for="event-cost">Entry Fee</label>
                            <input asp-for="Eventt.Cost" type="number"  value="@eventt.Cost"/>
                        </div>
                        <div>
                            <label for="event-pot">Pot</label>
                            <input asp-for="Eventt.Pot" type="number" value="@eventt.Pot"/>
                        </div>
                        <div>
                            <label for="event-date">Date</label>
                            <input asp-for="Eventt.DateTime" value="@eventt.DateTime"/>
                        </div>
                        <div>
                            <input asp-for="Eventt.Id" value="@eventt.Id"/>
                        </div>
                    </div>
                </div>
                <button type="submit" asp-page-handler="Delete">Delete</button>
            </form>
        </div>
        
       
    }
    <a href="#" id="show-new-event">New Event</a>
    <br/>
    <div id="new-event" class="card event-card" style="width: 18rem;display: none;">
        <form method="post">
            <div class="card-body">
                <h5 class="card-title">New Event</h5>
                <div>
                    <div>
                        <label for="event-name">Event Name</label>
                        <input asp-for="Eventt.Name" />
                    </div>
                    <div>
                        <label for="event-cost">Entry Fee</label>
                        <input asp-for="Eventt.Cost"  />
                    </div>
                    <div>
                        <label for="event-date">Date</label>
                        <input asp-for="Eventt.DateTime" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
                    
        </form>
    </div>  
    <br/>
</div>
</body>
</html>
@section Scripts
{
  <script>
   $("#show-new-event").on("click", function (){
       $("#new-event").show();
   })
  </script>  
}
